# Core scientific libraries
numpy
pandas
scikit-learn
scipy
matplotlib
seaborn
plotly
jupyter

# NLP
nltk
transformers

# Graph and visualisation
networkx
rdflib
pyvis

# LangChain and LLM interfaces
langchain
langchain-anthropic
langchain-mistralai
langchain-community

# Altmetric
https://github.com/altmetric/altmetric-explorer-api-client/tarball/main